<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Bookshelf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <hgroup>
      <h1>Bookshelf</h1>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      <%= link_to 'User Info', edit_user_registration_path, :method => :get%>
    </hgroup>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/master/shelves">Shelf</a></li>
        <li><a href="/master/books">Book</a></li>
        <li><a href="/admin/users">User</a></li>
      </ul>
    </nav> 
  </header>
  <div id="contents">
    <div id="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
  <footer>
    <p>2013&copy;chiroru_0130@yahoo.co.jp</p>
  </footer>
</body>
</html>
